<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container text-center page-header mt-3 mb-3">
      <h3>MongoDB Database Example</h3>
    </div>
    <div class="container page-form">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form id="data-entry" class="row">
            <div class="col-md-6">
              <label class="form-label">First name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Firstname">
            </div>
            <div class="col-md-6">
              <label class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Lastname">
            </div>
            <div class="col-12 mt-3">
              <label class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="col-12 text-center">
              <button id="form-submit" class="btn btn-primary mt-3 mb-3">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="container text-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user, index) => { %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= user.username %></td>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('partials/footer') %>

    <script>
      $(document).ready( function() {
        $('#form-submit').click( function() {
          $.post('/addUser', {
            username: $('#username').val(),
            firstname: $('#firstname').val(),
            lastname: $('#lastname').val(),
          });
        });
      });
    </script>
  </body>
</html>
