<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
    </head>
    <body>
        <%- include('partials/nav') %>

        <div class="container text-center">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach((user, index) => { %>
                    <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= user.username %></td>
                        <td><%= user.firstname %></td>
                        <td><%= user.lastname %></td>
                      </tr>
                <% }) %>
                </tbody>
              </table>
        </div>  
        
        <%- include('partials/footer') %>
    </body>
</html>